.lqd-chats-list {
	@apply gap-5;
}

.chats-wrap {

	.lqd-chat-form-inputs-container {
		@apply lg:rounded;
	}

	.lqd-chat-head,
	.lqd-chat-form {
		@apply bg-card-background max-md:bg-card-background;
	}

	.lqd-chat-head {
		--switcher-ball-active: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");

		.lqd-input-container:has(label[for=realtime]),
		button,
		.lqd-btn {
			@apply rounded bg-transparent;
		}

	}
}
